:host {
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
    background: #337AB7;
    color:#FFFFFF;
    margin: 1rem;
    display: inline-block;
  }