<div class="jumbotron">
    <interpolation-component></interpolation-component>
    <ref-var-component></ref-var-component>
    <value-bind-component></value-bind-component>
    <two-way-bind-component></two-way-bind-component>
    <ng-if-component></ng-if-component>
    <ng-for-component></ng-for-component>
    <ng-switch-component></ng-switch-component>
    <ng-class-component></ng-class-component>
    <ng-style-component></ng-style-component>
    <ng-model-component></ng-model-component>
    <pipe-component></pipe-component>
    <safe-nav-component></safe-nav-component>
</div>